/* Buttons */
button,
.button {
  display: inline-block;
  background: $turqoise;
  border: 1px solid $turqoise--dark;
  color: $white;
  padding: 8px 1em;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

button:hover,
.button:hover{
  background: $turqoise--dark;
}

button:focus,
.button:focus{
  background: $olive;
  border-color: $olive;
}

button:hover{
 background: black;
 color: white;
}

.button--cta{
  @extend .button;
  background: $red;
  border-color: $red--dark;
}

.button--cta:hover{
  background: $red--dark;
}
