/* Buttons */
button,
.button {
  color: black;
  border: 1px solid black;
  padding: 8px 1em;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}

button:hover{
 background: black;
 color: white;
}
