/* Layout classes */
.l-container{
  max-width: 1024px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
}

/* Basic elements */
a {
  text-decoration: none;
  color: orange;
}

a:hover{
	background-color: purple;
}

img{
	width: 30%;
	float: left;
}

.search-form{
	float: right;
}

label{
	font-weight: bold;
}	

input{
	border-radius: 7px;
	border-color: black;
	background: lightgrey;
	width: 45%;
}

button{
	border-radius: 12px;
	border-color: black;
	background: white;
	width: 20%;
	height: 30%;
}
	
nav{
	float: middle;
}

article{
	float: left;
	width: 75%;
}

ul{
	padding-right: 50px;
	padding-top:0px;
	float: right;
}

h2{
	padding-top: 20px;
	padding-right: 40px;
	float:right;
}
/* Header styles */


/* Main content */
